* {
    font-weight: bold;
}


h1 {
    color:red;
}

body {
border: 1px solid black;
width: 400px;
margin: auto;
height: 2000px;
}

p {
    color:brown;
    margin: 10px;
    padding: 20px;
}

#selected {
    border: 1px solid blue;
   position: ;
   top: 0;
   right: 0;
}

.underline {
    text-decoration: underline;
}

p:hover {
    color:aquamarine;
}

p::first-letter{
    font-size: 2rem;
}